# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
**/__pycache__/
**/*.pyc
**/.venv/
.venv/

# Node
node_modules/

# Uploads (tu carpeta de archivos)
src/backend/compatibilities/uploads/
src/backend/compatibilties/uploads/
**/uploads/
*.xlsx
*.csv

# =========================
# ENV VARIABLES (MUY IMPORTANTE)
# =========================
.env
*.env
.env.*

tokens.json
uploads/
